body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: #181e38;
  background-color: #e9edfc;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-weight: 500;
  font-size: 47px;
  margin-bottom: 40px;
}

.logo__img {
  border-radius: 3px;
}

.header {
  color: #fff;
  background-color: #181e38;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.menu__button {
  display: none;
}

.menu__list {
  display: flex;
  gap: 50px;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 45px;
}

.header__link {
  font-size: 25px;
  border-bottom: 3px solid transparent;
  padding-bottom: 4px;
  transition: border-bottom-color 0.5s, color 0.5s, opacity 0.5s;
}

.header__link:hover {
  border-bottom-color: #e19909;
}

.header__link:focus {
  color: #e19909;
}

.header__link:active {
  opacity: 0.4;
}

.header__tel {
  font-weight: 400;
  font-size: 32px;
  color: #e19909;
  border-bottom: 3px solid transparent;
  padding-bottom: 4px;
  transition: border-bottom-color 0.5s, color 0.5s, opacity 0.5s;
}

.header__tel:hover {
  color: #fff;
  border-bottom-color: #e19909;
}

.header__tel:focus {
  color: #fff;
}

.header__tel:active {
  opacity: 0.4;
}

.social__item:not(:last-child) {
  margin-bottom: 5px;
}

.social__link {
  font-size: 16px;
  position: relative;
  padding-left: 28px;
  border-bottom: 2px solid transparent;
  transition: color 0.5s, opacity 0.5s;
}

.social__link:hover {
  opacity: 0.6;
}

.social__link:focus {
  color: #e19909;
}

.social__link:active {
  opacity: 0.4;
}

.social__link::before {
  content: '';
  position: absolute;
  left: 0;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.social__link--telegram::before {
  background-image: url('../images/telegram.svg');
}

.social__link--viber::before {
  background-image: url('../images/viber.svg');
}

.social__link--whatsapp::before {
  background-image: url('../images/whatsapp.svg');
}

.hero {
  background-image: linear-gradient(to right,
      rgba(0, 51, 102, 0.7) 20%,
      rgba(0, 51, 102, 0.4) 50%,
      transparent 100%), url('../images/hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.hero__content {
  height: 81vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 440px;
  width: 100%;
  color: #fff;
}

.hero__title {
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 20px;
}

.hero__text {
  font-size: 32px;
  margin-bottom: 30px;
}

.hero__link {
  max-width: 193px;
  width: 100%;
  border-radius: 6px;
  color: #fff;
  background-color: #e19909;
  padding: 12px 27px;
  transition: outline 0.5s, color 0.5s, background-color 0.5s, box-shadow 0.5s;
}

.hero__link:focus {
  outline: 2px solid #9e6b07;
}

.hero__link:hover {
  outline: 1px solid #e19909;
  color: #e19909;
  background-color: transparent;
}

.hero__link:active {
  box-shadow: inset 0 7px 4px 0 #9e6b07;
  color: #fff;
  background-color: #e19909;
}

.services {
  padding: 120px 0;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.services__text {
  font-size: 29px;
  margin-bottom: 30px;
}

.services__img {
  object-fit: cover;
  object-position: center;
}

.advantages {
  text-align: center;
  padding-bottom: 120px;
}

.advantages__subtitle {
  font-size: 26px;
  margin-bottom: 60px;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.advantages__item {
  text-align: center;
  max-width: 230px;
  width: 100%;
  padding: 20px 40px;
  background-color: #fff;
  border: 1px solid rgba(10, 102, 58, 0.2);
  border-radius: 4px;
}

.advantages__item::before {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto 20px;
}

.advantages__item--support::before {
  background-image: url('../images/support.svg');
}

.advantages__item--fast::before {
  background-image: url('../images/fast.svg');
}

.advantages__item--experienced::before {
  background-image: url('../images/experienced.svg');
}

.advantages__item--transparent::before {
  background-image: url('../images/transparent.svg');
}

.advantages__text {
  font-size: 24px;
}

.footer {
  color: #fff;
  background-color: #181e38;
  padding: 50px 0;
}

.footer__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__item:not(:last-child) {
  margin-bottom: 15px;
}

.footer__list {
  position: relative;
  padding-left: 40px;
}

.footer__link {
  font-size: 24px;
  border-bottom: 3px solid transparent;
  padding-bottom: 5px;
  transition: color 0.5s, border-bottom-color 0.5s, opacity 0.5s;
}

.footer__link:hover {
  border-bottom-color: #e19909;
}

.footer__link:focus {
  color: #e19909;
}

.footer__link:active {
  opacity: 0.4;
}

.footer__list--tel::before {
  position: absolute;
  left: 0;
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  background-image: url('../images/tel.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer__list--locations::before {
  position: absolute;
  left: 0;
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  background-image: url('../images/locations.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 992px) {
  .header__list {
    gap: 30px;
  }

  .header__tel {
    font-size: 28px;
  }

  .menu__button {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    position: relative;
    z-index: 2;
    order: 1;
    transition: outline 0.5s, background-color 0.5s;
  }

  .menu__button:focus {
    outline: 2px solid rgba(255, 255, 255, 0.6);
  }

  .menu__button:active {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .menu__button-line {
    width: 30px;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
    position: relative;
  }

  .menu__button-line::before,
  .menu__button-line::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 30px;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
    transition: transform 0.5s;
  }

  .menu__button-line::before {
    top: 10px;
  }

  .menu__button-line::after {
    bottom: 10px;
  }

  .menu--open .menu__button-line {
    background-color: transparent;
  }

  .menu--open .menu__button-line::before {
    transform: rotate(45deg);
    top: 0;
  }

  .menu--open .menu__button-line::after {
    transform: rotate(-45deg);
    bottom: 0;
  }

  .menu__list {
    position: absolute;
    flex-direction: column;
    align-items: center;
    background-color: #181e38;
    z-index: 1;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    transform: translateY(-100%);
    transition: transform 0.5s;
    padding-top: 150px;
    gap: 0;
    text-align: center;
  }

  .menu--open .menu__list {
    transform: translateY(0);
  }

  .header__list {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 150px;
  }

  .social__list--mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 768px) {
  .logo__img {
    width: 120px;
    height: 80px;
  }

  .hero__content {
    max-width: 342px;
  }

  .hero__title {
    font-size: 50px;
  }

  .hero__text {
    font-size: 23px;
  }

  .footer__list {
    padding-left: 30px;
  }

  .footer__link {
    font-size: 18px;
  }

  .footer__list--tel::before {
    width: 25px;
    height: 25px;
  }

  .footer__list--locations::before {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 40px;
    margin-bottom: 30px;
  }

  .logo__img {
    width: 100px;
  }

  .menu {
    padding: 12px 0;
  }

  .header__tel {
    font-size: 20px;
  }

  .hero {
    background-position: center;
  }

  .hero__content {
    max-width: 305px;
  }

  .hero__title {
    font-size: 38px;
  }

  .hero__text {
    font-size: 20px;
  }

  .hero__link {
    max-width: 175px;
    padding: 10px 18px;
  }

  .services {
    padding: 65px 0;
  }

  .services__text {
    font-size: 20px;
  }

  .services__img {
    width: 100%;
    height: auto;
  }

  .advantages__subtitle {
    font-size: 20px;
  }

  .footer {
    padding: 30px 0;
  }

  .footer__content {
    flex-direction: column;
  }

  .footer__logo {
    margin-bottom: 30px;
  }

  .footer__list {
    margin-bottom: 50px;
  }
}