body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: #181e38;
  background-color: #e9edfc;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-weight: 500;
  font-size: 47px;
  margin-bottom: 40px;
}

.logo__img {
  border-radius: 3px;
}

.header {
  color: #fff;
  background-color: #181e38;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.header__list {
  display: flex;
  gap: 45px;
}

.header__link {
  font-size: 25px;
  border-bottom: 3px solid transparent;
  padding-bottom: 57px;
  transition: color 0.5s, border-bottom-color 0.5s, opacity 0.5s;
}

.header__link:hover {
  border-bottom-color: #e19909;
}

.header__link:focus {
  color: #e19909;
}

.header__link:active {
  opacity: 0.4;
}

.header__tel {
  font-weight: 300;
  font-size: 32px;
  color: #e19909;
}

.social__item:not(:last-child) {
  margin-bottom: 5px;
}

.social__link {
  font-size: 16px;
  position: relative;
  padding-left: 28px;
  border-bottom: 2px solid transparent;
  padding-bottom: 5px;
  transition: color 0.5s, border-bottom-color 0.5s, opacity 0.5s;
}

.social__link:hover {
  border-bottom-color: #e19909;
}

.social__link:focus {
  color: #e19909;
}

.social__link:active {
  opacity: 0.4;
}

.social__link::before {
  content: '';
  position: absolute;
  left: 0;
  width: 24px;
  height: 24px;
}

.social__link--telegram::before {
  background-image: url('../images/telegram.svg');
}

.social__link--viber::before {
  background-image: url('../images/viber.svg');
}

.social__link--whatsapp::before {
  background-image: url('../images/whatsapp.svg');
}

.hero {
  background-image: linear-gradient(to right,
      rgba(0, 51, 102, 0.7) 20%,
      rgba(0, 51, 102, 0.4) 50%,
      transparent 100%), url('../images/hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.hero__content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 440px;
  width: 100%;
  color: #fff;
}

.hero__title {
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 20px;
}

.hero__text {
  font-size: 32px;
}

.services {
  padding: 120px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.services__text {
  font-size: 29px;
  margin-bottom: 30px;
}

.services__img {
  object-fit: cover;
  object-position: center;
}

.advantages {
  text-align: center;
  padding-bottom: 120px;
}

.advantages__subtitle {
  font-size: 26px;
  margin-bottom: 60px;
}

.advantages__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.advantages__item {
  text-align: center;
  max-width: 230px;
  width: 100%;
  padding: 20px 40px;
  background-color: #fff;
  border: 1px solid rgba(10, 102, 58, 0.2);
  border-radius: 4px;
}

.advantages__item::before {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto 20px;
}

.advantages__item--support::before {
  background-image: url('../images/support.svg');
}

.advantages__item--fast::before {
  background-image: url('../images/fast.svg');
}

.advantages__item--experienced::before {
  background-image: url('../images/experienced.svg');
}

.advantages__item--transparent::before {
  background-image: url('../images/transparent.svg');
}

.advantages__text {
  font-size: 24px;
}

.footer {
  color: #fff;
  background-color: #181e38;
  padding: 50px 0;
}

.footer__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__item:not(:last-child) {
  margin-bottom: 15px;
}

.footer__list {
  position: relative;
  padding-left: 40px;
}

.footer__link {
  font-size: 24px;
  border-bottom: 3px solid transparent;
  padding-bottom: 5px;
  transition: color 0.5s, border-bottom-color 0.5s, opacity 0.5s;
}

.footer__link:hover {
  border-bottom-color: #e19909;
}

.footer__link:focus {
  color: #e19909;
}

.footer__link:active {
  opacity: 0.4;
}

.footer__list--tel::before {
  position: absolute;
  left: 0;
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  background-image: url('../images/tel.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer__list--locations::before {
  position: absolute;
  left: 0;
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  background-image: url('../images/locations.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}