body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: #181e38;
  background-color: #e9edfc;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-weight: 500;
  font-size: 47px;
  margin-bottom: 40px;
}

.logo__img {
  border-radius: 3px;
}

.header {
  color: #fff;
  background-color: #181e38;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.header__list {
  display: flex;
  gap: 45px;
}

.header__link {
  font-size: 25px;
}

.header__tel {
  font-weight: 300;
  font-size: 32px;
  color: #e10909;
}

.social__item:not(:last-child) {
  margin-bottom: 5px;
}

.social__link {
  font-size: 16px;
  position: relative;
  padding-left: 28px;
}

.social__link::before {
  content: '';
  position: absolute;
  left: 0;
  width: 24px;
  height: 24px;

}

.social__link--telegram::before {
  background-image: url('../images/telegram.svg');
}

.social__link--viber::before {
  background-image: url('../images/viber.svg');
}

.social__link--whatsapp::before {
  background-image: url('../images/whatsapp.svg');
}

.hero {
  padding: 50px 0 120px;
}

.hero__wrapper {
  display: flex;
  justify-content: space-between;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 515px;
  width: 100%;
}

.hero__title {
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 20px;
}

.hero__text {
  font-size: 32px;
  color: #1c65b3;
}

.services {
  padding-bottom: 120px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.services__text {
  font-size: 29px;
  margin-bottom: 30px;
}

.advantages {
  text-align: center;
  padding-bottom: 120px;
}

.advantages__subtitle {
  font-size: 26px;
  margin-bottom: 60px;
}

.advantages__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.advantages__item {
  text-align: center;
  max-width: 230px;
  width: 100%;
  padding: 50px 40px;
  background-color: #fff;
  border: 1px solid rgba(10, 102, 58, 0.2);
  border-radius: 4px;
}

.advantages__text {
font-size: 24px;
}

.footer {
  color: #fff;
  background-color: #181e38;
  padding: 50px 0;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__text {
  font-size: 24px;
}