body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: #181e38;
  background-color: #e9edfc;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-weight: 500;
  font-size: 42px;
  margin-bottom: 50px;
}

.header {
  color: #fff;
  background-color: #181e38;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.header__list {
  display: flex;
  gap: 45px;
}

.header__link {
  font-size: 25px;
}

.header__tel {
  font-size: 32px;
  color: #e10909;
}

.hero__wrapper {
  display: flex;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__title {
  max-width: 690px;
  width: 100%;
  font-weight: 500;
  font-size: 66px;
  margin-bottom: 20px;
}

.hero__text {
  font-size: 32px;
  color: #1c65b3;
}

.services {
  padding: 120px 0;
}

.services__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services__item {
  text-align: center;
  max-width: 350px;
  width: 100%;
  padding: 50px 40px;
  background-color: #fff;
  border: 1px solid rgba(10, 102, 58, 0.2);
  border-radius: 4px;
}

.services__text {
  text-align: left;
  font-size: 20px;
}

.features {
  padding-bottom: 120px;
}

.features__list {
  display: flex;
}

.footer {
  color: #fff;
  background-color: #181e38;
  padding: 50px 0;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__text {
  font-size: 24px;
}